.Home-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $mainPink;
//   background:
//   linear-gradient(to bottom, white, transparent),
//   linear-gradient(to top left, rgb(146, 255, 146), transparent),
//   linear-gradient(to top right, rgb(69, 69, 255), transparent);
// background-blend-mode:screen;

}

.Home-Upper-Box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // @extend .Home-Container;
  width: 100vw;
  height: 50vh;
}

.Home-Header-Box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 40vh;
  padding: 0;
  margin: 0;
}

.Home-Header-Box h1 {
  font-family: $mainFont;
  font-weight: 600;
  font-size: 9rem;
  color: $mainBlack;
  padding: 0;
  margin: -50px;
  cursor: default;
}

.Home-Subheader-Box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
}

.Home-Subheader-Box h5 {
  font-family: $mainFont;
  font-weight: 300;
  font-size: 1.5rem;
  color: $mainBlack;
  padding: 0;
  margin: 0 40px;
  cursor: default;
}

.Home-Lower-Box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 100vw;
  height: 50vh;
  position: relative;
  z-index: 9;
}

// .home-transition-element {
//   @include landingButtonGradient;
//   margin-top: 80px;
// }

// .home-transition-element:hover {
//   opacity: 0.0;
// }

// .home-main-button {
//   @include landingButtonSolid;
//   margin-top: 80px;
// }



.Home-Button-Container {
  flex: 0 0 calc(50% - 40px);
  display: flex;
  justify-content: center;
  margin-top: 80px;
  // align-items: flex-end;

  // border: 2px solid pink;
}

.Home-Button-Overlay {
  position: absolute;
  top: 8px;
  right: -8px;
  background-color: rgba(0, 0, 0, 0.644);
  border-radius: 95% 1% 95% 2% / 1% 94% 1% 97%;
  height: 63px;
  width: 262px;
  z-index: -1;
  transition: 0.3s ease-out;
  pointer-events: none;
}

// span {
//   font-size: 30px;
//   vertical-align: baseline;
// }
.Home-Button-Box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $mainBlack;
  border-radius: 95% 2% 95% 3% / 3% 94% 2% 97%;
  border: 3px solid $mainBlack;
  height: 61px;
  width: 260px;

  // z-index: 2;
  // margin-bottom: 2px;
  align-self: flex-end;
  cursor: pointer;


  .Home-Button {
    font-family: $mainFont;
    font-weight: 800;
    font-size: 2rem;
    color: $mainPink;
    margin: 0;
  }
}

.Home-Button-Box:hover {
  .Home-Button-Overlay {
    top: -1px;
    right: 0;
  }
}


////////////////////////////////////////////////////  MEDIA QUERIES  ////////////////////////////////////////////////////

@media only screen and (max-width: 1050px) {
  .Home-Header-Box h1 {
    font-weight: 500;
    font-size: 6rem;
  }

  .Home-Subheader-Box h5 {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 745px) {
  .Home-Header-Box h1 {
    font-weight: 500;
    font-size: 4rem;
  }

  .Home-Subheader-Box h5 {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
  }

  .home-transition-element {
    margin-top: 40px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 4px 20px;
  }

  // .home-main-button {
  //   margin-top: 40px;
  //   font-weight: 600;
  //   font-size: 1.5rem;
  //   padding: 4px 20px;
  // }

}


@media only screen and (max-width: 450px) {
  .Home-Header-Box h1 {
    font-weight: 500;
    font-size: 2rem;
  }

  .Home-Subheader-Box h5 {
    font-weight: 300;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 50px;
  }

  .home-transition-element {
    margin-top: 70px;
    font-weight: 400;
    font-size: 1rem;
    padding: 4px 20px;
  }

  .home-main-button {
    margin-top: 70px;
    font-weight: 400;
    font-size: 1rem;
    padding: 4px 20px;
  }

}
