.Home-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  // background-color: $mainOffWhite;
  background: url(../../images/my_Gradient.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // background-image: url(../../images/my_Gradient.png);
  // background:
  // linear-gradient(to bottom, white, transparent),
  // linear-gradient(to top left, $mainPink, transparent),
  // linear-gradient(to top right, $mainGreen, transparent);
// background-blend-mode:screen;
}

// .Home-Upper-Box {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   // @extend .Home-Container;
//   width: 100vw;
//   height: 200px;
//   margin-top: 80px;
//   // margin-bottom: -80px;
//   border: 2px solid green;
// }

.Home-Header-Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(50vh - 80px);
  padding: 0;
  margin-top: 80px;
  // border: 2px solid blue;
}

.Home-Header-Box h1 {
  font-family: $mainFont;
  font-weight: 600;
  font-size: 7rem;
  color: $mainBlack;
  // background: linear-gradient(to right, $mainGreen, $mainPink);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
  cursor: default;
  user-select: none;
  // border: 2px solid green;
}

// .Home-Subheader-Box {
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
//   width: 100vw;
//   border: 2px solid red;
// }

.Home-Header-Box h5 {
  text-align: center;
  font-family: $serifFont;
  font-weight: 400;
  font-size: 2rem;
  color: $mainBlack;
  padding: 0;
  width: 900px;
  margin: 0;
  // margin: 0 200px;
  cursor: default;
  user-select: none;
  // border: 2px solid red;
}

.Home-Lower-Box {
  width: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(50vh - 80px);
  position: relative;
  z-index: 9;
  // border: 2px solid red;
  border-top: 1px solid $mainBlack;
  margin: 0 50px;
}

// .home-transition-element {
//   @include landingButtonGradient;
//   margin-top: 80px;
// }

// .home-transition-element:hover {
//   opacity: 0.0;
// }

// .home-main-button {
//   @include landingButtonSolid;
//   margin-top: 80px;
// }



.Home-Button-Container {
  // width: calc(50% - 50px);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin-top: 80px;
  // align-items: flex-end;
  // height: calc(100% - 80px);
  // border: 2px solid red;
  border-right: 1px solid $mainBlack;
  width: calc(50%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100%)
}

// .Home-Button-Overlay {
//   position: absolute;
//   top: 8px;
//   right: -8px;
//   background-color: rgba(0, 0, 0, 0.212);
//   border-radius: 95% 1% 95% 2% / 1% 94% 1% 97%;
//   height: 63px;
//   width: 262px;
//   z-index: -1;
//   transition: 0.3s ease-out;
//   pointer-events: none;
// }

// span {
//   font-size: 30px;
//   vertical-align: baseline;
// }
.Home-Button-Box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $mainBlack;
  // border-radius: 95% 2% 95% 3% / 3% 94% 2% 97%;
  border: 1px solid $mainBlack;
  // background-color: $mainBlack;
  // background-image: linear-gradient(to right, $mainGreen, $mainPink);
  // height: 61px;
  // width: 260px;
  padding: 10px 60px;
  // margin: 200px 100px 200px 0;
  // border: 2px solid yellow;
  // z-index: 2;
  // margin-bottom: 2px;
  cursor: pointer;


  .Home-Button {
    font-family: $mainFont;
    font-weight: 200;
    font-size: 1.5rem;
    color: $mainBlack;
    // background: linear-gradient(to right, $mainGreen, $mainPink);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    margin: 0;
    user-select: none;
  }
}

.Home-Button-Box:hover {
  .Home-Button-Overlay {
    top: -1px;
    right: 0;
  }
}

.Home-Arrow {
  font-size: 1.5rem;
  font-weight: 100;
  position: absolute;
  top: 28%;
  right: 10%;
  // transform: translate(-50%, 75%);
}

.Home-Login-Container {
  width: calc(50%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // border: 2px solid red;
}

.Home-Login-Box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $mainBlack;
  // border-radius: 95% 2% 95% 3% / 3% 94% 2% 97%;
  border: 1px solid $mainBlack;
  // background-color: $mainBlack;
  // background-image: linear-gradient(to right, $mainGreen, $mainPink);
  // height: 61px;
  // width: 260px;
  padding: 10px 60px;
  // margin: 200px 0 200px 100px;

  // z-index: 2;
  // margin-bottom: 2px;
  // align-self: flex-end;
  cursor: pointer;


  .Home-Login {
    font-family: $mainFont;
    font-weight: 200;
    font-size: 1.5rem;
    color: $mainBlack;
    // background: linear-gradient(to right, $mainGreen, $mainPink);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    margin: 0;
    user-select: none;
  }
}

////////////////////////////////////////////////////  MEDIA QUERIES  ////////////////////////////////////////////////////

@media only screen and (max-width: 1050px) {
  .Home-Header-Box h1 {
    font-weight: 500;
    font-size: 6rem;
  }

  .Home-Subheader-Box h5 {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 745px) {
  .Home-Header-Box h1 {
    font-weight: 500;
    font-size: 4rem;
  }

  .Home-Subheader-Box h5 {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
  }

  .home-transition-element {
    margin-top: 40px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 4px 20px;
  }

  // .home-main-button {
  //   margin-top: 40px;
  //   font-weight: 600;
  //   font-size: 1.5rem;
  //   padding: 4px 20px;
  // }

}


@media only screen and (max-width: 450px) {
  .Home-Header-Box h1 {
    font-weight: 500;
    font-size: 2rem;
  }

  .Home-Subheader-Box h5 {
    font-weight: 300;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 50px;
  }

  .home-transition-element {
    margin-top: 70px;
    font-weight: 400;
    font-size: 1rem;
    padding: 4px 20px;
  }

  .home-main-button {
    margin-top: 70px;
    font-weight: 400;
    font-size: 1rem;
    padding: 4px 20px;
  }

}
