.Login-Container {
  height: 100vh;
  background: url(../../images/my_Gradient.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Login-Content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: calc(100vh - 80px);
  // border: 2px solid blue;
  margin-top: 80px;
  max-width: 1200px;
}

.Login-Message-Box {
  width: calc(50vw - 100px);
  height: 50vh;
  padding: 0 50px;
  // border: 2px solid blue;
  border-right: 1px solid $mainBlack;
  display: flex;
  align-items: center;
}

.Login-Message {
  font-family: $serifFont;
  font-size: 3rem;
  font-weight: 400;
}

.Login-Button-Box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
  background-color: transparent;
  border: 1px solid $mainBlack;
  margin-top: 40px;
}

.Login-Button {
    font-family: $mainFont;
    font-weight: 200;
    font-size: 1.5rem;
    color: $mainBlack;
    margin: 0;
    user-select: none;
}

.Login-Arrow {
  font-size: 1.5rem;
  font-weight: 100;
  position: absolute;
  top: 28%;
  right: 20px;
  transition: 0.2s ease-out;
}

.Login-Button-Box:hover {
  .Login-Arrow {
    right: 10px;
  }
}

.Login-Form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  // border: 2px solid red;
  width: 50vw;
}

.Login-Box {
  display: flex;
  justify-content: center;
  flex: 0 0 100vw;
}

.Login-Box > input {
  width: 10vw;
  height: 50px;
  border: none;
  margin-bottom: 40px;
  max-width: 200px;
  font-family: $mainFont;
  font-weight: 200;
  font-size: 1rem;
  padding-left: 20px;
  outline:none;
  padding-right: 60px;
  background-color: rgba(0, 0, 0, 0);
  color: $mainBlack;
  border-bottom: 1px solid $mainBlack;
}

.Label-Box {
  display: flex;
  justify-content: flex-start;
  flex: 0 0 20vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.479);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.479);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.479);
}

////////////////////////////////////////////////////  MEDIA QUERIES  ////////////////////////////////////////////////////

@media only screen and (max-width: 1000px) {
  .Login-Message-Box {
    width: calc(50vw - 100px);
    height: 50vh;
    padding: 0 50px;
    // border: 2px solid blue;
    border-right: 1px solid $mainBlack;
    display: flex;
    align-items: center;
  }
  
  .Login-Message {
    font-family: $serifFont;
    font-size: 2rem;
    font-weight: 400;
  }
}

@media only screen and (max-width: 775px) {

  .Login-Message {
    font-size: 1rem;
  }

  .Login-Button-Box {
    padding: 5px 30px;
    margin-top: 20px;
  }
  
  .Login-Button {
      font-size: 1rem;
  }
  
  .Login-Arrow {
    font-size: 1rem;
    right: 10px;
  }
  
  .Login-Button-Box:hover {
    .Login-Arrow {
      right: 8px;
    }
  }
}


@media only screen and (max-width: 695px) {

  .Login-Message-Box {
    display: none;
  }

  .Login-Box > input {
    margin-bottom: 15px;
  }
}


@media only screen and (max-width: 445px) {

  .Login-Box > input {
    width: 50vw;
  }
}


@media only screen and (max-height: 400px) {

  .Login-Box > input {
    height: 30px;
    margin-bottom: 10px;
  }
}
