.Register-Container {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  // border: 2px solid blue;
  margin-bottom: 40px;
}

.Register-Form {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Register-Box {
  display: flex;
  justify-content: center;
  // border: 2px solid peachpuff;
  padding: 30px 0;
  position: relative;
  z-index: 80;
}

.Register-Form-Input {
  width: 20vw;
  min-width: 20vw;
  max-width: 20vw;
  height: 35px;
  border: none;
  position: relative;
  // border: 1px solid black;
}

#RegisterVal {
  font-family: $mainFont;
  font-weight: 200;
  font-size: 1rem;
  color: $mainBlack;
  padding-left: 10px;
  outline:none;
  padding-right: 60px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid $mainBlack;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.479);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.479);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.479);
}

.Register-Box button{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 2rem;
  // border: 1px solid $mainBlack;
  margin: 0;
  position: absolute;
  text-align: center;
  right: 8px;
  top: 30px;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.Register-Box button:hover {
  right: 0;
}

@media only screen and (max-width: 600px) {
  .Register-Form-Input {
    width: 80%;
    min-width: 80%;
  }
}