.Register-Container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  // border: 2px solid blue;
}

.Register-Form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  // border: 2px solid green;
}

.Register-Box {
  display: flex;
  justify-content: center;
  // flex: 1 0 85vw;
  // border: 2px solid peachpuff;
  // background-color: $black;
  padding: 30px 0 30px 0;
  // box-shadow: 0 0 5px 10px $black;
  position: relative;
  z-index: 4;
}

.Register-Form::before {
  content: "";
  position: absolute;
  text-align: center;
  // width: calc(50% - 40px);
  // height: 2px;
  top: 152px;
  // left: 40px;
  // left: 0;
  background-image: url(../../images/Squiggly_black_v1.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  z-index: 10;
  // background: linear-gradient(to right, $mainOffWhite 0%, $mainOffWhite 100%);
}

// .Register-Box > label{
//   color: $mainBlack;
//   margin-bottom: 10px;
//   font-family: $mainFont;
//   font-weight: 400;
//   font-size: 1.3rem;
// }

.Register-Form-Input {
  width: 20vw;
  height: 35px;
  border: none;
  margin-bottom: 40px;
  position: relative;
}

// .Register-Form > button {
//   font-family: $mainFont;
//   font-weight: 900;
//   font-size: 2rem;
//   color: $mainOffWhite;
//   background: linear-gradient(to right, $mainLight 0%, $mainDark 100%);
//   padding: 5px 30px;
//   margin: 0 20px;
//   text-align: center;
//   cursor: pointer;
//   border: none;
// }

#RegisterVal {
  font-family: $mainFont;
  font-weight: 500;
  font-size: 1rem;
  color: $mainBlack;
  padding-left: 10px;
  outline:none;
  padding-right: 60px;
  background-color: $mainOffWhite;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $mainBlack;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $mainBlack;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $mainBlack;
}

// .Register-Box button{
//   background-color: $mainOffWhite;
//   border: none;
//   font-size: 1rem;
//   padding: 6px 6px 2px 6px;
//   margin: 0;
//   position: absolute;
//   text-align: center;
//   right:0;
//   top:50%;
//   transform: translate(-10%, 55%);
//   border-radius: 50px;
//   cursor: pointer;
// }


.Register-Button-Container {
  position: absolute;
  flex: 0 0 calc(50% - 40px);
  display: flex;
  justify-content: center;
  // z-index: 12;
  right: -120px;
  // margin-top: 80px;
  // align-items: flex-end;

  // border: 2px solid pink;
}

.Register-Button-Overlay {
  position: absolute;
  top: 4px;
  right: -7px;
  background-color: $mainGreen;
  border-radius: 95% 1% 95% 2% / 1% 94% 1% 97%;
  width: 103%;
  height: 104%;
  z-index: -1;
  transition: 0.3s ease-out;
  pointer-events: none;
}

// span {
//   font-size: 30px;
//   vertical-align: baseline;
// }
.Register-Button-Box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $mainBlack;
  border-radius: 95% 2% 95% 3% / 3% 94% 2% 97%;
  border: 2px solid $mainBlack;
  display: inline-flex;
  padding: 5px 10px;
  background-color: Transparent;
  // height: 61px;
  // width: 260px;

  // z-index: 2;
  // margin-bottom: 2px;
  align-self: flex-end;
  cursor: pointer;


  .Register-Button {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 1.5rem;
    color: $mainBlack;
    margin: 0;
  }
}

.Register-Button-Box:hover {
  .Register-Button-Overlay {
    top: -1px;
    right: -2px;
  }
}