$mainDark: #10202c;
$mainLight: #79e6ee;
$mainHighlight: #37f8ff;
$whiteFont: rgb(230, 236, 238);
$black: rgb(1, 0, 12);
$bgColor1: #160c13;
$bgColor2: #180e1a;
$bgColor3: #140e1f;
$bgColor4: #0c1122;
$bgColor5: #0a1827;
$mainFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$mainBlack: #181718;
$mainPink: #ffe0d7;
$darkPink: #ffaa92;
$mainOffWhite: rgb(255, 254, 253);
$mainGreen: rgba(154, 255, 233, 0.842);