/* /////////////////////////////////////  CHATTY MESSAGE  ////////////////////////////////////// */

.Chatty-Container {
  position: relative;
  width: 100vw;
  height: 100vh;
  // border: 2px solid yellow;
  background: url(../../images/my_Gradient.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Chatty {
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  // border: 2px solid yellow;
  width: 100vw;
  overflow-x: hidden;
}

.Chatty-Left-Filler {
  flex: 0 1 30vw;
  // border: solid 2px aqua
}

.Chatty-Right-Filler {
  flex: 0 1 30vw;
  // border: solid 2px pink
}

.Chatty-MSG-Bottom-Filler {
  padding: 50px;
  // border: solid 2px rgb(255, 0, 132);
}

.Chatty-Display {
  margin: 80px 0 100px;
  // border: solid 2px yellow;
  flex: 1 0 500px;
}

.Chatty-Message-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Chatty-Message-Box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1 0 100%;
}

.Chatty-Message {
  font-family: $mainFont;
  font-weight: 200;
  font-size: 1rem;
  color: $mainBlack;
  text-align: left;
  margin: 10px 180px 10px 0;
  cursor: default;
  user-select: none;
}

.Chatty-Message-Black {
  color: rgba(0,0,0,0.0);
}

.Chatty-Loading-Spinner {
  position: absolute;
  z-index: 5;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .Chatty-Message {
    margin: 10px 120px 10px 50px;
  }

  .Chatty-Display {
    margin: 80px 0 100px;
    flex: 1 0 100vw;
  }
}

@media only screen and (max-width: 400px) {
  .Chatty-Message {
    margin: 10px 60px 10px 10px;
  }

  .Chatty-Display {
    margin: 80px 0 100px;
    flex: 1 0 100vw;
  }
}

/* /////////////////////////////////////  CHATTY BUTTON  ////////////////////////////////////// */

.Chatty-Button-Main {
  width: 100%;
  position: relative;
  z-index: 9;
}

.Chatty-Button-Main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  // border: 2px solid yellow;
}

.Chatty-Button-Box {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid $mainBlack;
  padding: 0 20px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 3px;
}

.Chatty-Button {
  line-height:0;
  font-family: $mainFont;
  font-weight: 200;
  font-size: 1rem;
  color: $mainBlack;
  margin: 0;
  user-select: none;
}

.Chatty-Button-Box-Clicked {
  @extend .Chatty-Button-Box;
  cursor: default;
}

@media only screen and (max-width: 600px) {
  // .Chatty-Button-Container {
  //   margin-right: 50px;
  // }

  .Chatty-Button-Box {
    margin: 10px 50px 10px 0px;
  }

}

@media only screen and (max-width: 400px) {
  // .Chatty-Button-Container {
  //   margin-right: 10px;
  // }

  // .Chatty-Button-Box {
  //   max-width: 250px;
  //   margin: 10px 10px 10px 0px;
  // };

  // .Chatty-Button {
  //   line-height: normal;
  // }

  .Chatty-Button-Box {
    margin: 10px 10px 10px 0px;
  }

}

// @media only screen and (max-width: 600px) {
//   .Chatty-Message {
//     margin: 10px 120px 10px 50px;
//   }

//   .Chatty-Display {
//     margin: 80px 0 100px;
//     flex: 1 0 100vw;
//   }
// }

// @media only screen and (max-width: 400px) {
//   .Chatty-Message {
//     margin: 10px 60px 10px 10px;
//   }

//   .Chatty-Display {
//     margin: 80px 0 100px;
//     flex: 1 0 100vw;
//   }
// }