.Navbar-Container-Left {
  position: absolute;
  height: 80px;
}

.Navbar-Container-Right {
  position: absolute;
  height: 80px;
  right: 0;
}

a {
  text-decoration: none;
}

.Navbar-Logo-Box {
  position: sticky;
  display: flex;
  flex-direction: row;
  z-index: 4;
  top: 30px;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}

.Navbar-Logo {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 1.5rem;
  color: $mainBlack;
  margin: 0;
  padding: 0;
}

.Navbar-Logo-Circle {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid $mainBlack;
  -moz-border-radius: 30px;
  border-radius: 30px; 
}

// .Navbar-Logo-Circle:hover {
//   border: 1px solid $darkPink; 
//   color: $mainBlack;
// }

.Navbar-Link-Box {
  @extend .Navbar-Logo-Box;
  margin-right: 50px;
}

.Navbar-Link {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 1.5rem;
  color: $mainBlack;
  margin-left: 20px;
  padding: 0;
  //EXTENDING THE NAVBAR LOGO STYLES TO MATCH ALIGNMENT WITH THE LOGO
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  -moz-border-radius: 30px;
  border-radius: 30px; 
  border: 1px solid rgba(0,0,0,0.0);
  width:fit-content;
  position: relative;
  text-decoration: none;
  transition: all .35s ease;

  &::before {
      content: "";
      position: absolute;
      // text-align: center;
      // width: 100%;
      // height: 2px;
      // bottom: 8px;
      // left: 0;
      // background: linear-gradient(to right, $mainBlack 0%, $mainBlack 100%);
      // visibility: hidden;
      // -webkit-transform: scaleX(0);
      // transform: scaleX(0);
      // -webkit-transition: all 0.2s ease-in-out 0s; 
      // transition: all 0.2s ease-in-out 0s; 
  }   

  &:hover {
    color: $mainBlack;

      &::before {
          // visibility: visible;
          // -webkit-transform: scaleX(1);
          // transform: scaleX(1);
          // background-image: url(../../images/Squiggly_Navbar_v1.svg);
          // background-repeat: no-repeat;
          // width: 100%;
          // height: 100px;
          // top: 45px;
      }   
  }   
}

.Navbar-Link-Active {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 1.5rem;
  color: $mainBlack;
  margin-left: 20px;
  padding: 0;
  //EXTENDING THE NAVBAR LOGO STYLES TO MATCH ALIGNMENT WITH THE LOGO
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  -moz-border-radius: 30px;
  border-radius: 30px; 
  border: 1px solid rgba(0,0,0,0.0);
  width:fit-content;
  position: relative;
  text-decoration: none;
  transition: all .35s ease;

  &::before {
      content: "";
      position: absolute;
      // text-align: center;
      // width: 100%;
      // height: 2px;
      // bottom: 8px;
      // left: 0;
      // background: linear-gradient(to right, $mainBlack 0%, $mainBlack 100%);
      // visibility: visible;
      border-bottom: 2px solid $mainBlack;
      width: 100%;
      border-radius: 90% 20% 90% 30% / 30% 84% 20% 87%;
      // background-image: url(../../images/Squiggly_Navbar_v1.svg);
      // background-repeat: no-repeat;
      // width: 100%;
      // height: 100px;
      top: 45px;
  }
}
