.Navbar-Container-Left {
    position: absolute;
    height: 80px;
  }

  .Navbar-Container-Right {
    @extend .Navbar-Container-Left;
    right: 0;
  }

  a {
    text-decoration: none;
  }

  .Navbar-Search-Box {
    position: sticky;
    z-index: 4;
    top: 30px;
    margin: 0;
    padding: 0;
    margin-left: 50px;
  }

  .Navbar-Logo {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 1.5rem;
    color: $whiteFont;
    margin: 0;
    padding: 0;
  }

  .Navbar-Logo:hover {
    color: $mainLight;
  }

  .Navbar-Login {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 1.5rem;
    color: $whiteFont;
    margin: 0;
    padding: 0;
  }

  .Navbar-Login:hover {
    color: $mainLight;
  }

  .Navbar-Browse-Box {
    @extend .Navbar-Search-Box;
    margin-right: 50px;
  }

  .Navbar-Browse {
    float: right;
    cursor: pointer;
    color: $whiteFont;
  }