.Navbar-Container-Left {
  position: absolute;
  height: 70px;
}

.Navbar-Container-Right {
  position: absolute;
  height: 70px;
  right: 0;
}

a {
  text-decoration: none;
}

.Navbar-Logo-Box {
  position: sticky;
  display: flex;
  flex-direction: row;
  z-index: 4;
  top: 30px;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}

.Navbar-Logo {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 1rem;
  color: $mainBlack;
  margin: 0;
  padding: 0;
}

.Navbar-Logo-Circle {
  display: block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid $mainBlack;
  -moz-border-radius: 30px;
  border-radius: 30px; 
}

// .Navbar-Logo-Circle:hover {
//   border: 1px solid $darkPink; 
//   color: $mainBlack;
// }

.Navbar-Link-Box {
  @extend .Navbar-Logo-Box;
  margin-right: 50px;
}

.Navbar-Link {
  font-family: $mainFont;
  font-weight: 300;
  font-size: 1rem;
  color: rgba(43, 43, 43, 0.308);
  margin-left: 20px;
  padding: 0;
  //EXTENDING THE NAVBAR LOGO STYLES TO MATCH ALIGNMENT WITH THE LOGO
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  -moz-border-radius: 30px;
  border-radius: 30px; 
  border: 1px solid rgba(0,0,0,0.0);
  width:fit-content;
  position: relative;
  text-decoration: none;
  transition: all .35s ease;

  // &::before {
  //     content: "";
  //     position: absolute;
  // }   

  &:hover {
    color: $mainBlack;
    // font-weight: 500;
      // &::before {
      //     position: absolute;
      //     top: 13px;
      //     right: -7px;
      //     background-color: rgba(0, 0, 0, 0.212);
      //     border-radius: 97% 2% 100% 2% / 4% 96% 1% 95%;
      //     width: calc(100% + 15px);
      //     height: 50%;
      //     z-index: -1;
      //     transition: 0.3s ease-out;
      // }
  }
}

.Navbar-Link-Active {
  font-family: $mainFont;
  font-weight: 300;
  font-size: 1rem;
  color: $mainBlack;
  // background: linear-gradient(to right, $mainGreen, $mainPink);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  margin-left: 20px;
  padding: 0;
  //EXTENDING THE NAVBAR LOGO STYLES TO MATCH ALIGNMENT WITH THE LOGO
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  -moz-border-radius: 30px;
  border-radius: 30px; 
  border: 1px solid rgba(0,0,0,0.0);
  width:fit-content;
  position: relative;
  text-decoration: none;
  transition: all .35s ease;

  // &::before {
  //     content: "";
  //     position: absolute;
  //     top: 12px;
  //     right: -8px;
  //     border: 1px solid $mainBlack;
  //     background-color: rgba(0, 0, 0, 0.212);
  //     border-radius: 97% 2% 100% 2% / 4% 96% 1% 95%;
  //     width: calc(100% + 15px);
  //     height: 50%;
  //     z-index: -1;
  //     transition: 0.3s ease-out;
  // }
}
